<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <body>
<pre>

VERSION 3.7.0
  - #27041: Single view got the record browser. See marker ###RECORD_BROWSER### below.
            Single view got an id.


<!-- ###TEMPLATE_LIST### begin -->
<!-- ###LIST_TITLE### begin -->
        ###MY_TITLE###
<!-- ###LIST_TITLE### end -->
<!-- ###SEARCHFORM### begin -->
        <div class="searchbox searchbox-###VIEW###-###MODE###">
          <form action="###ACTION###" method="post" >
            <fieldset>
              <legend>###MY_SEARCH_LEGEND###</legend>
              <input type="hidden" name="no_cache" value="1" />
              ###TX_QUICKSHOP_CATEGORIES.TITLE###
              <input class="sword" type="text" name="tx_browser_pi1[sword]" onfocus="if(this.value =='###SWORD_DEFAULT###') this.value=''"
  value="###SWORD###" />
              <input class="button" type="submit" value="###BUTTON###" />
              <input class="reset" type="button" onclick="location='###MY_URL###'" value="###MY_RESET###" />
              <!-- Add filter with the ###TABLE.FIELD### syntax and configure your filter with TypoScript -->
            </fieldset>
          </form>
          ###RESULTPHRASE###
        </div><!-- ###SEARCHFORM### end -->
        <div class="listarea">
<!-- ###CATEGORY_MENU### begin -->
          <!-- Add the category menu with the ###TABLE.FIELD### syntax and configure your category menu with TypoScript -->
          <!-- ###CATEGORY_MENU### end -->
<!-- ###AZSELECTOR### begin -->
          <div class="azSelector azSelector-###UL_VIEW###-###UL_MODE###">
            <ul class="azSelector azSelector-###UL_VIEW###-###UL_MODE###"><!-- ###AZSELECTORTABS### begin -->
              <li###LI_CLASS###>###TAB###</li><!-- ###AZSELECTORTABS### end -->
            </ul>
          </div><!-- ###AZSELECTOR### end -->
<!-- ###PAGEBROWSER### begin -->
          <div class="browsebox browsebox-###VIEW###-###MODE###">
            ###RESULT_AND_ITEMS###
          </div><!-- ###PAGEBROWSER### end -->
<!-- ###MODESELECTOR### begin -->
          <div class="modeSelector modeSelector-###VIEW###-###MODE###">
            <ul class="modeSelector modeSelector-###VIEW###-###MODE###"><!-- ###MODESELECTORTABS### begin -->
              <li###CLASS###>###TABS###</li><!-- ###MODESELECTORTABS### end -->
            </ul>
          </div><!-- ###MODESELECTOR### end -->
<!-- ###LISTVIEW### begin -->
          <div class="###VIEW###view ###VIEW###view-###MODE###">
<!-- ###GROUPBY### begin -->
<!-- ###GROUPBYHEAD### begin -->
            ###GROUPBY_GROUPNAME###
<!-- ###GROUPBYHEAD### end -->
<!-- ###GROUPBYBODY### begin -->
          <!-- ###LISTHEAD### begin --><!-- ###LISTHEADITEM### begin -->
            ###ITEM###<!-- ###LISTHEADITEM### end --><!-- ###LISTHEAD### end -->
          <!-- ###LISTBODY### begin --><!-- ###LISTBODYITEM### begin -->
            <div class="charges">
              <div class="price">
                ###TX_QUICKSHOP_PRODUCTS.PRICE###
              </div>
              <div class="tax_shipping">
                ###TX_QUICKSHOP_PRODUCTS.TAX### ###MY_SHIPPING_NOTE###
              </div>
            </div>
            ###SOCIALMEDIA_BOOKMARKS###
            ###TX_QUICKSHOP_PRODUCTS.IMAGE###
            ###TX_QUICKSHOP_PRODUCTS.TITLE###
            ###TX_QUICKSHOP_PRODUCTS.SHORT###
            <div style="clear:both"></div>
            <!-- ###LISTBODYITEM### end --><!-- ###LISTBODY### end -->
<!-- ###GROUPBYBODY### end -->
<!-- ###GROUPBY### end -->
          </div>
          <!-- ###LISTVIEW### end -->
        </div> <!-- /listarea -->
<!-- ###TEMPLATE_LIST### end -->





<!-- ###TEMPLATE_SELECTBOX_VALID### begin -->
          <form ###CLASS### action="###URL###" method="POST">
            <fieldset>
              <legend>###LEGEND###</legend>
              ###HIDDEN###
              ###SELECTBOX###
              <input class="button" type="submit" value="###BUTTON###" />
            </fieldset>
          </form>
<!-- ###TEMPLATE_SELECTBOX_VALID### end -->


<!-- ###TEMPLATE_SELECTBOX### begin -->
          <script type="text/javascript">
            function Go (select) {
              var str_url = select.options[select.options.selectedIndex].value;
              if (str_url == "0") {
                select.form.reset();
                return;
              } else {
                window.location.href = str_url;
              }
            }
          </script>
          <form action="">
            ###SELECTBOX###
          </form>
<!-- ###TEMPLATE_SELECTBOX### end -->





<!-- ###TEMPLATE_SINGLE### begin -->
<!-- ###AREA_FOR_AJAX_LIST_01### begin -->
<!-- ###MODESELECTOR### begin -->
        <div id="c###TT_CONTENT.UID###-modeSelector-###VIEW###-###MODE###" class="modeSelector modeSelector-###VIEW###-###MODE###">
          <ul class="modeSelector modeSelector-###VIEW###-###MODE###"><!-- ###MODESELECTORTABS### begin -->
            <li###CLASS###>###TABS###</li><!-- ###MODESELECTORTABS### end -->
          </ul>
        </div><!-- ###MODESELECTOR### end --><!-- ###SINGLEVIEW### begin -->
        <div id="c###TT_CONTENT.UID###-###VIEW###view-###MODE###" class="###VIEW###view ###VIEW###view-###MODE###">
          ###RECORD_BROWSER###
          <!-- ###SINGLEBODY### begin --><!-- ###SINGLEBODYROW### begin -->
          <div class="charges">
            <div class="price">
              ###TX_QUICKSHOP_PRODUCTS.PRICE###
            </div>
            <div class="tax_shipping">
              ###TX_QUICKSHOP_PRODUCTS.TAX### ###MY_SHIPPING_NOTE###
            </div>
          </div>
          ###SOCIALMEDIA_BOOKMARKS###
          ###TX_QUICKSHOP_PRODUCTS.TITLE###
          ###TX_QUICKSHOP_PRODUCTS.IMAGE###
          ###TX_QUICKSHOP_PRODUCTS.DESCRIPTION###
          <div style="clear:both"></div>
          <!-- ###SINGLEBODYROW### end --><!-- ###SINGLEBODY### end -->
          <form class="caddy" name="caddy" action="###MY_CADDYURL###" method="post">
            <fieldset id="add-to-cart">
              <input type="hidden" name="tx_quickshop_products[sku]" value="###TX_QUICKSHOP_PRODUCTS.SKU###" />
              <input type="hidden" name="tx_browser_pi1[showUid]" value="###SHOWUID###" />
              <select name="tx_quickshop_qty">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
              </select>
              <button class="submit" name="submit" type="submit" value="###MY_CADDYLABEL###">
                ###MY_CADDYLABEL### <img src="###MY_CADDYIMGSRC###" width="18" height="18" alt="###MY_CADDYIMGALT###">
              </button>
            </fieldset>
          </form>
<!-- ###AREA_FOR_AJAX_LIST_01### end -->
          <!-- ###BACKBUTTON### begin -->
          <p class="backbutton">
            ###BUTTON###
          </p><!-- ###BACKBUTTON### end -->
<!-- ###AREA_FOR_AJAX_LIST_02### begin -->
        </div><!-- ###SINGLEVIEW### end -->
<!-- ###AREA_FOR_AJAX_LIST_02### end -->
<!-- ###TEMPLATE_SINGLE### end -->

</pre>
  </body>
</html>