
/* QuickShop list and single views */

.tx-browser-pi1 .listview .charges {
  float:right;
  padding:0 0 0 1em;
}
.tx-browser-pi1 .listview .charges .price {
  font-size:3em;
  text-align:right;
}
.tx-browser-pi1 .listview .charges .tax_shipping {
  text-align:right;
}
.tx-browser-pi1 .listview .image {
  float:left;
}
.tx-browser-pi1 .listview .short {
  font-weight:normal;
}
.tx-browser-pi1 .listview .title {
  font-size:2em;
  margin:0;
}


.tx-browser-pi1 .listview .csc-textpic-left .csc-textpic-imagewrap {
  padding:0 1em 0 0;
}
.tx-browser-pi1 .listview .csc-textpic-right .csc-textpic-imagewrap {
  padding:0 0 0 1em;
}

.tx-browser-pi1 .listview .bookmark_items {
  float:right;
  padding: .7em 0 0 0;
}

.tx-browser-pi1 .listview div.category_menu {
  float:left;
  padding: 0 1em 0 0;
}



.tx-browser-pi1 .singleview .charges {
  float:right;
  padding:0 0 0 1em;
}
.tx-browser-pi1 .singleview .charges .price {
  font-size:3em;
  text-align:right;
}
.tx-browser-pi1 .singleview .charges .tax_shipping {
  text-align:right;
}
.tx-browser-pi1 .singleview .short {
  font-weight:normal;
}
.tx-browser-pi1 .singleview .title {
  font-size:2em;
  margin:0;
}


.tx-browser-pi1 .singleview .csc-textpic-left .csc-textpic-imagewrap {
  padding:0 1em 0 0;
}
.tx-browser-pi1 .singleview .csc-textpic-right .csc-textpic-imagewrap {
  padding:0 0 0 1em;
}

.tx-browser-pi1 .singleview .bookmark_items {
  float:right;
  padding: .7em 0 0 0;
}

.tx-browser-pi1 .csc-textpic-intext-left-nowrap .csc-textpic-imagewrap {
  clear:none;
}
.tx-browser-pi1 .csc-textpic-intext-right-nowrap .csc-textpic-imagewrap {
  clear:none;
}



/* general form css */
#content input, #content select, #content textarea {
  margin-bottom: 10px;
  padding: 2px 5px;
  font-family: Trebuchet MS,Geneva,Arial,Helvetica,Verdana,sans serif;
  color: #000;
  border: 1px solid #000;
}

form.caddy {
  text-align: right;
}
form.caddy button.submit {
  background: -moz-linear-gradient(center top , #E67100 0%, #FF9933 50%, #FF8800 51%, #FFB366 100%) repeat scroll 0 0 transparent;
  border: 0 none;
  border-radius: .4em;
  box-shadow: 0 .2em .4em 0 #AAA;
  color: white;
  cursor:pointer;
  font-family: Trebuchet MS,Geneva,Arial,Helvetica,Verdana,sans serif;
  font-weight:bold;
  padding: 5px 20px;
  position:relative;
  top:.1em;
}
form.caddy button.submit img {
  position:relative;
  top:.1em;
}

/* caddy */
div.caddy form {
  border-bottom: 1px solid #F66800;
}
div.caddy_footer {
  border-bottom: 1px solid #F66800;
}
div.caddy_header {
  background-color: #F66800;
  color: #fff;
}
div.caddy_product {
  border-bottom: 1px solid #F66800;
  padding:.6em .5em .3em .5em;
}


/* powermail */
#content form.powermail_form input.powermail_confirmation_form,
#content form.powermail_form input.powermail_confirmation_submit,
#content form.powermail_form input.powermail_submit,
#content form.tx_powermail_pi1_formconfirmation_back input.tx-powermail-pi1_confirmation_back,
#content form.tx_powermail_pi1_formconfirmation_submit input.tx-powermail-pi1_confirmation_submit {
  background: -moz-linear-gradient(center top , #E67100 0%, #FF9933 50%, #FF8800 51%, #FFB366 100%) repeat scroll 0 0 transparent;
  border: 0 none;
  border-radius: .4em;
  box-shadow: 0 .2em .4em 0 #AAA;
  color: white;
  cursor:pointer;
  font-family: Trebuchet MS,Geneva,Arial,Helvetica,Verdana,sans serif;
  font-weight:bold;
  padding: 5px 20px;
  position:relative;
  top:.1em;
}
form.tx_powermail_pi1_formconfirmation_back {
  float:right;
}
#content fieldset.powermail_fieldset,
#content div.tx-powermail div.powermail_confirmation,
#content div.tx-powermail div.powermail_create,
#content div.tx-powermail ul.powermail_tabmenu,
#content fieldset.tx-powermail-pi1_fieldset {
  border-radius: 0;
  box-shadow: 0 0 .2em 0 #AAA;
  margin-bottom:1em;
}
#content div.tx-powermail div.powermail_confirmation {
  margin-top:1em;
}
#content div.tx-powermail ul.powermail_tabmenu li,
#content fieldset.powermail_fieldset legend,
#content fieldset.tx-powermail-pi1_fieldset legend,
#content ul.powermail_multiplejs_tabs li a {
  color: #F66800;
}
#content div.tx-powermail ul.powermail_tabmenu li.act {
  text-shadow: 0 .2em .4em #999;
  text-decoration: underline;
}
#content fieldset.powermail_fieldset label,
#content fieldset.tx-powermail-pi1_fieldset label {
  color: #F66800;
}
#content fieldset.tx-powermail-pi1_fieldset legend.tx_powermail_pi1_fieldwrap_html_checkbox_title {
  color: #F66800;
 }
#content fieldset.tx-powermail-pi1_fieldset input.powermail_submit {
  background: -moz-linear-gradient(center top , #E67100 0%, #FF9933 50%, #FF8800 51%, #FFB366 100%) repeat scroll 0 0 transparent;
  border: 0 none;
  border-radius: .4em;
  box-shadow: 0 .2em .4em 0 #AAA;
  color: white;
  padding: 5px 20px;
}
