
/* QuickShop list and singel views */

.tx-browser-pi1 .listview .charges {
  float:right;
  padding:0 0 0 1em;
}
.tx-browser-pi1 .listview .charges .price {
  font-size:3em;
  text-align:right;
}
.tx-browser-pi1 .listview .charges .tax_shipping {
  text-align:right;
}
.tx-browser-pi1 .listview .short {
  font-weight:normal;
}
.tx-browser-pi1 .listview .title {
  font-size:2em;
  margin:0;
}


.tx-browser-pi1 .listview .csc-textpic-left .csc-textpic-imagewrap {
  padding:0 1em 0 0;
}
.tx-browser-pi1 .listview .csc-textpic-right .csc-textpic-imagewrap {
  padding:0 0 0 1em;
}

.tx-browser-pi1 .listview .bookmark_items {
  float:right;
  padding: .7em 0 0 0;
}



.tx-browser-pi1 .singleview .charges {
  float:right;
  padding:0 0 0 1em;
}
.tx-browser-pi1 .singleview .charges .price {
  font-size:3em;
  text-align:right;
}
.tx-browser-pi1 .singleview .charges .tax_shipping {
  text-align:right;
}
.tx-browser-pi1 .singleview .short {
  font-weight:normal;
}
.tx-browser-pi1 .singleview .title {
  font-size:2em;
  margin:0;
}


.tx-browser-pi1 .singleview .csc-textpic-left .csc-textpic-imagewrap {
  padding:0 1em 0 0;
}
.tx-browser-pi1 .singleview .csc-textpic-right .csc-textpic-imagewrap {
  padding:0 0 0 1em;
}

.tx-browser-pi1 .singleview .bookmark_items {
  float:right;
  padding: .7em 0 0 0;
}

.tx-browser-pi1 .csc-textpic-intext-left-nowrap .csc-textpic-imagewrap {
  clear:none;
}
.tx-browser-pi1 .csc-textpic-intext-right-nowrap .csc-textpic-imagewrap {
  clear:none;
}



/* general form css */
#content input, #content select, #content textarea {
  margin-bottom: 10px;
  padding: 2px 5px;
  font-family: Trebuchet MS,Geneva,Arial,Helvetica,Verdana,sans serif;
  color: #000;
  border: 1px solid #000;
}

form.caddy {
  text-align: right;
}
form.caddy button.submit {
  cursor:pointer;
  font-family: Trebuchet MS,Geneva,Arial,Helvetica,Verdana,sans serif;
  position:relative;
  top:.1em;
}
form.caddy button.submit img {
  position:relative;
  top:.1em;
}

/* caddy */
.caddy {
  background-color: #fff;
  padding: 0 0 3em 0;
}

.caddy_header {
  background-color: #F66800;
  color: #fff;
}

div.caddy_product {
  border-bottom: 1px solid #F66800;
  padding:.6em .5em .3em .5em;
}

/* powermail form */
fieldset.tx-powermail-pi1_fieldset {
  padding: 5px;
  border: 1px solid #000;
}

fieldset.tx-powermail-pi1_fieldset label {
  float: left;
  width: 100px;
  color: #000;
}

fieldset.tx-powermail-pi1_fieldset input {
  width: 210px;
}

fieldset.tx-powermail-pi1_fieldset input:hover, fieldset.tx-powermail-pi1_fieldset textarea:hover {
  border-color: #f66800;
}

fieldset.tx-powermail-pi1_fieldset br, fieldset.tx-powermail-pi1_fieldset .tx_powermail_pi1_fieldwrap_html {
  clear: both;
}

.powermail_mandatory_js {
  margin: 0 0 10px 180px;
  font-size: 0.85em;
  color: #ff8c00;
}

.powermail_submit, .tx-powermail-pi1 .powermail_check_inner input, .powermail_radio_inner input {
  width: auto !important;
}

.tx-powermail-pi1 legend {
  padding: 5px 5px 0 5px;
}

.tx-powermail-pi1 legend, .tx-powermail-pi1_confirmation p {
  margin: 0 0 10px 0;
  font-weight: 700;
  color: #f66800;
}

.tx-powermail-pi1 .tx_powermail_pi1_fieldwrap_html_label {
  margin: 0 0 0.6em 0;
}

.tx-powermail-pi1 label {
  width: 180px !important;
}

.tx_powermail_pi1_fieldwrap_html_radio_title {
  font-weight: 700;
}

.powermail_check_inner, .powermail_radio_inner {
  margin: 10px 0;
}

.powermail_check_inner label, .powermail_radio_inner label {
  float: none !important;
}

.tx-powermail-pi1 .tx_powermail_pi1_fieldwrap_html_check  .powermail_mandatory_js {
  margin-left: 0px !important;
}

.tx_powermail_pi1_formconfirmation_back, .tx_powermail_pi1_formconfirmation_submit {
  float: left;
  margin-top: 10px;
  width: 50%;
}

.tx-powermail-pi1_confirmation, .tx-powermail-pi1_thx {
  margin: 1em 0 0 0;
}

td.powermail_all_td {
  padding: 2px 5px;
}